@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #727273;
}

input {
  height: 40px;
  border-radius: 0.5rem;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
}

select {
  height: 40px;
  border-radius: 0.5rem;
  padding: 8px 12px;
  border: 1px solid #e5e5e5;
}

button, .btn-primary {
  height: 40px;
  border-radius: 0.5rem;
  padding: 8px 16px;
  background-color: #036988;
  color: white;
  transition: .2s;
}

button:hover {
  background-color: #ff7e01;
  transition: .2s;
}

a {
  border-bottom: 2px solid transparent;
  transition: .2s;
}

a:hover {
  border-bottom: 2px solid #ff7e01;
  transition: .2s;
}

.btn-secondary {
  min-width: fit-content !important;
  height: 40px;
  border-radius: 0.5rem;
  padding: 8px 16px;
  background-color: #e5e5e5;
  color: #404040;
  transition: .2s;
}

.btn-secondary:hover {
  color: white;
  background-color: #036988;
  transition: .2s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
